
<div class="conatiner">
  <div class="alert alert-danger" role="alert">
   <strong>please enter valid details</strong>
  </div>

  <div class="change"*ngIf="!isSignedIn" >
  <h2>SignIn</h2>
  <div class="row mb-3">
    <label>Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" #email />
    </div>
  </div>
  <div class="row mb-3">
    <label >Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" #password />
    </div>
  </div>
<button class="btn btn-success " value="login" (click)="onSignIn(email.value,password.value)" >logIn</button>
<button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  SignUp
</button> 
</div>
</div>
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>



<!--modal-->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">RegisterPage</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form >
                 
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" #emailSignup >
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"#passwordlSignup >
                  </div>
                  
                  <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Close</button>
            <button type="button" class="btn btn-primary" (click)="onSignUp(emailSignup.value,passwordlSignup.value)">Submit</button>
                </form>
          </div>
         
        </div>
      </div>  
    </div> 
  
  


  
